/* Page General */

#cursor {
  margin: 20px;
}

#mydiv
{
    position: fixed;
    top: 0px;
    left: 0px;
    width:1000px;
    height: 1000px;
    background-color: white;
}

#mycanvas
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
}


/* Navigation */

.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 0px 0px;
    margin: 0px;
}

.navbar ul {
    list-style-type: none;
    float: middle;
    background-color: white;

}

.navbar li {
    display: inline-block;
    background-color: white;
}

.active {
    color: #6d9797;
    background-color: #abe2e2;
  }

.navbar a:hover { /* Change the link color on hover */
    color: #abe2e2;
    background-color: #6d9797;
    font-weight: 500;
}



  /* Banner */

.banner {
    background-color: #abe2e2;
    color: white;
    position: relative; top: 80px;
}

.banner li {
    display: inline-block;
}

#greets ul {
    list-style-type: none;
}

#small-hum {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black)
}


/* Hummer */

.hover-3{
  transition: .3s;
}
.hover-3:hover{
  color:#47AFB3;
}

.hover-4{
    color:black;
    background: 
      linear-gradient(90deg,#47AFB3 50%,white 50%) 
      var(--_p,100%)/200%,
      linear-gradient(90deg,white 50%,#abe2e2 50%) 
      var(--_c,0%)/200%
      no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s;
  }
  .hover-4:hover{
     --_p: 62%;
  --_c: 80%;
    color:#0000;
  }

.avatar {
    background-image: url('../images/humpic.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}


/* Mouse Tracker to Reveal Text */

.mouse-cursor-gradient-tracking {
  position: relative;
  background: 
white;
  padding: 5rem 5rem;
  font-size: 3.2rem;
  border: none;
  color: 
white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #47AFB3, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 100px;
}




/* Text Styling */

body {
    height: 100vh;
    display: grid;
    place-content: align-content;
  }
  h1 {
    font-family: system-ui, sans-serif;
    font-size: 5rem;
    cursor: pointer;
  }
  h2 {
    font-family: system-ui, sans-serif;
    font-size: 4rem;
    cursor: pointer;
  }
  h3 {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    cursor: pointer;
  }
  h4 {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    cursor: pointer;
  }
  h5 {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    cursor: pointer;
  }
  h5 {
    font-family: system-ui, sans-serif;
    font-size: 0.5rem;
    cursor: pointer;
  }
.p1 {
    font-family: Arial, Helvetica, sans-serif;
  }


/* Palatte */

.light {
    color: #abe2e2;
}
.dark {
    color: #47AFB3;
}


/* Buttons */

.butt-1 {
    border: none;
    color: white;
    background-color: #47AFB3;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
  }
